# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.WK3

.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.depend
*.layout
obj/*
bin/*
*.bit
*.ltx
*.rpt
*.7z
*.gz
*cscope*
GPATH
GRTAGS
GTAGS
ID
tags
*.axf
*.iex
*.uvguix.*
*.uvoptx
*.crf
*.htm
*.lnp
*.dep
*.bin
*.lst
*.swp
*.txt
*.depend
*.elay
*.Bak
*.scvd
**/Project.sct
**/JLinkLog.txt
*.log
*.orig
**/~$*
*.sct
*.target_clock
**/JLinkSettings.ini
**/Dbg_RAM.ini
**/SVD/*.h
**/MDK-ARM/RTE/
**/MDK-ARM/Project/
*.pack
**/pack/*
**/out/*
**/output/*
**/BitFiles/*
*.sfr
*.sfd
*_org*
**/.cdk/
**/CDK/
!**/CDK/*.ckdproj
**/.cache/
**/__workspace_pack__/
*.cdkws
**/Debug/
**/Release/


